###############################################################################
#                                                                             #
# This file is managed by Chezmoi. Please edit with `chezmoi edit ~/.zshrc`   #
# OR                                                                          #
# `chezmoi edit --apply-template ~/.zshrc`                                    #
# OR                                                                          #
# directly in the git repo                                                    #
#                                                                             #
###############################################################################

StylesPath = ~/.vale/styles
MinAlertLevel = suggestion

{{- if eq .role "lijn" }}
Packages = Google, RedHat, Hugo
Vocab = lijn

[*.{md,txt,html,doc}]
BasedOnStyles = Vale, RedHat, Google

Google.Passive = NO
Google.Slang = suggestion
Google.Will = suggestion
Google.WordList = NO
RedHat.Contractions = NO
RedHat.DoNotUseTerms = suggestion

# Obsidian Templater
[*.md]
BlockIgnores = (?s) *<%.*?%>
{{- end }}
