###############################################################################
#                                                                             #
# This file is managed by Chezmoi. Please edit with `chezmoi edit ~/.zshrc`   #
# OR                                                                          #
# `chezmoi edit --apply-template ~/.zshrc`                                    #
# OR                                                                          #
# directly in the git repo                                                    #
#                                                                             #
###############################################################################


#source ~/.profile
source ~/.functions

PATH=$HOME/bin:/usr/local/bin:/bin:/usr/bin:/opt/homebrew/bin:/usr/local/sbin:/usr/sbin:/sbin

#Oh My zsh
export ZSH=$HOME/.oh-my-zsh
ZSH_THEME="cloud"
CASE_SENSITIVE="true"
plugins=(
  1password
  asdf
  aws
  brew
  direnv
  docker
  fzf
  gh
  git
  iterm2
  kube-ps1
  kubectl
  macos
  mosh
  mvn
  node
  npm
  pip
  rsync
  terraform
  tmux
) # thefuck)
source $ZSH/oh-my-zsh.sh

#shellopts
setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY          # Write the history file in the ":start:elapsed;command" format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
#setopt SHARE_HISTORY             # Share history between all sessions.
unsetopt SHARE_HISTORY           # This was driving me nuts
setopt HIST_EXPIRE_DUPS_FIRST    # Expire duplicate entries first when trimming history.
setopt HIST_IGNORE_DUPS          # Don't record an entry that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete old recorded entry if new entry is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_IGNORE_SPACE         # Don't record an entry starting with a space.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.
setopt HIST_VERIFY               # Don't execute immediately upon history expansion.
setopt HIST_BEEP                 # Beep when accessing nonexistent history.

# Not sure if this is needed with the fzf plugin loaded from ohmyzsh
# [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

RPROMPT='$(kube_ps1)'

#paging
export AWS_PAGER=bat
export PAGER=bat
BAT_THEME=TwoDark

#aliases
alias pw='xkcdpass -d "-" --numwords 6 |pbcopy'
alias kts=ktx
alias ks="kubecm s"
alias kb="kustomize build"
alias kak="kubectl apply -k"
alias less="bat -f"
alias cat="bat -P"
alias cma="chezmoi apply"
alias cmu="chezmoi update"
alias cmpush="chezmoi git -- add . && chezmoi git -- commit -am "cli changes"; chezmoi git -- push"

{{- if eq .role "work" }}

#plugins
# 1password
source /Users/cathelijne/.config/op/plugins.sh

# Set Java Home
# source ~/.asdf/plugins/java/set-java-home.zsh

{{- end }}

#completions
eval "$($( whereis glab|awk '{print $2}') completion -s zsh)" || true
eval "$(bw completion --shell zsh); compdef _bw bw;"
eval "$(github-copilot-cli alias -- "$0")"  || true
# test -f '/Users/lijn/Library/Preferences/netlify/helper/path.zsh.inc' && source '/Users/lijn/Library/Preferences/netlify/helper/path.zsh.inc'
# eval "$(chezmoi completion zsh)" || true

#hooks
eval "$(direnv hook zsh)"  || true

autoload -U compinit && compinit

bindkey "^[^[[D" backward-word
bindkey "^[^[[C" forward-word

kubeoff
echo "Done loading .zshrc"
