###############################################################################
#                                                                             #
# This file is managed by Chezmoi. Please edit with `chezmoi edit ${FILE}`    #
# OR                                                                          #
# `chezmoi edit --apply-template ~/.zshrc`                                    #
# OR                                                                          #
# directly in the git repo                                                    #
#                                                                             #
###############################################################################

# To install all plugins in this file and then install the versions, do:
#
# for i in $(awk '{print $1}' < .tool-versions |ggrep '^[a-z]'); do asdf plugin install $i; done
# asdf install
#

awscli 2.17.48
golang 1.23.1
hugo extended_0.127.0
java temurin-21.0.4+7.0.LTS
kind 0.23.0
kubectl 1.31.0
# nodejs 20.15.0
python 3.12.4
yarn 1.22.19

{{- if eq .role "work" }}
{{- end }}
