###############################################################################
#                                                                             #
# This file is managed by Chezmoi. Please edit with `chezmoi edit ${FILE}`    #
# OR                                                                          #
# `chezmoi edit --apply-template ~/.zshrc`                                    #
# OR                                                                          #
# directly in the git repo                                                    #
#                                                                             #
###############################################################################

# To install all plugins in this file and then install the versions, do:
#
# for i in $(awk '{print $1}' < .tool-versions |ggrep '^[a-z]'); do asdf plugin install $i; done
# asdf install
#

awscli 2.24.24
golang 1.24.1
hugo extended_0.136.5
java temurin-21.0.6+7.0.LTS
kind 0.24.0
kubectl 1.32.3
# nodejs 20.15.0
python 3.12.6
yarn 1.22.19
deno 2.2.4

{{- if eq .role "work" }}
{{- end }}
